In [38]:
import pandas as pd
import numpy as np
import operator

In [3]:
data_file = 'PyPoll/election_data.csv'

In [15]:
df = pd.read_csv(data_file)
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [7]:
total_votes = df.count()
total_votes

Voter ID     3521001
County       3521001
Candidate    3521001
dtype: int64

In [8]:
candidates = df["Candidate"].unique()
candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [9]:
Counties = df['County'].unique()
Counties

array(['Marsh', 'Queen', 'Bamoo', 'Trandee', 'Raffah'], dtype=object)

In [10]:
count_summary = df['Candidate'].value_counts(0)
count_summary

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [11]:
percent_summary = df['Candidate'].value_counts(1)
percent_summary

Khan        0.63
Correy      0.20
Li          0.14
O'Tooley    0.03
Name: Candidate, dtype: float64

In [21]:
per_votes_khan = str(len(df[df['Candidate'].str.contains('Khan')])/len(df.index) * 100)
per_votes_correy = str(len(df[df['Candidate'].str.contains('Correy')])/len(df.index) * 100)
per_votes_li = str(len(df[df['Candidate'].str.contains('Li')])/len(df.index) * 100)
per_votes_oTooley = str(len(df[df['Candidate'].str.contains("O'Tooley")])/len(df.index) * 100)
per_votes_oTooley

'2.999999147969569'

In [33]:
tot_votes_khan = str(len(df[df['Candidate'].str.contains('Khan')]))
tot_votes_correy = str(len(df[df['Candidate'].str.contains('Correy')]))
tot_votes_li = str(len(df[df['Candidate'].str.contains('Li')]))
tot_votes_oTooley = str(len(df[df['Candidate'].str.contains("O'Tooley")]))
tot_votes_oTooley

'105630'

In [34]:
khan_vote = 'Khan: ' + per_votes_khan + "%, (" + tot_votes_khan + ")"
correy_vote = 'Correy: ' + per_votes_correy + "%, (" + tot_votes_correy + ")"
li_vote = 'Li: ' + per_votes_li + "%, (" + tot_votes_li + ")"
oTooley_vote = "O'Tooley: " + per_votes_oTooley + "%, (" + tot_votes_oTooley + ")"
oTooley_vote

"O'Tooley: 2.999999147969569%, (105630)"

In [37]:
comparison_table = {'Khan' : per_votes_khan,
               'Correy' : per_votes_correy,
               'li' : per_votes_li,
               "O'Tooley" : per_votes_oTooley
              }
comparison_table

{'Khan': '63.00001050837531',
 'Correy': '19.999994319797125',
 'li': '13.999996023857989',
 "O'Tooley": '2.999999147969569'}

In [40]:
victor = max(comparison_table.items(), key=operator.itemgetter(1))[0]
victor

'Khan'

In [42]:
cache = []
cache.append("Election Results")
cache.append("-------------------------")
cache.append("Total Votes: 3521001")
cache.append("-------------------------")
cache.append(khan_vote)
cache.append(correy_vote)
cache.append(li_vote)
cache.append(oTooley_vote)
cache.append("-------------------------")
cache.append("Winner: " + victor)
cache.append("-------------------------")

In [43]:
with open('output2.txt', 'w') as output:
  for line in cache:
      output.write("%s\n" % line)